openapi: 3.0.3
info:
  title: Cab Booking Service API
  description: A minimal yet complete API for online cab booking service
  version: 1.0.0
  contact:
    name: API Support
    email: api-support@cabservice.com
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT

servers:
  - url: https://api.cabservice.com/v1
    description: Production server
  - url: https://staging-api.cabservice.com/v1
    description: Staging server

security:
  - BearerAuth: []

paths:
  /auth/register:
    post:
      tags:
        - Authentication
      summary: Register a new user
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterRequest'
      responses:
        '201':
          description: User registered successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '400':
          description: Invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: User already exists
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /auth/login:
    post:
      tags:
        - Authentication
      summary: Authenticate user
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
      responses:
        '200':
          description: Login successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '401':
          description: Invalid credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /auth/refresh:
    post:
      tags:
        - Authentication
      summary: Refresh access token
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RefreshRequest'
      responses:
        '200':
          description: Token refreshed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenResponse'
        '401':
          description: Invalid refresh token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /users/profile:
    get:
      tags:
        - Users
      summary: Get user profile
      responses:
        '200':
          description: User profile retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /rides:
    post:
      tags:
        - Rides
      summary: Request a new ride
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RideRequest'
      responses:
        '201':
          description: Ride requested successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Ride'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /rides/{rideId}:
    get:
      tags:
        - Rides
      summary: Get ride details
      parameters:
        - name: rideId
          in: path
          required: true
          schema:
            type: string
            example: ride_987654321
      responses:
        '200':
          description: Ride details retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RideDetails'
        '404':
          description: Ride not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /rides/{rideId}/cancel:
    patch:
      tags:
        - Rides
      summary: Cancel a ride
      parameters:
        - name: rideId
          in: path
          required: true
          schema:
            type: string
            example: ride_987654321
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CancelRideRequest'
      responses:
        '200':
          description: Ride cancelled successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CancelRideResponse'
        '400':
          description: Cannot cancel ride
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /rides/{rideId}/complete:
    patch:
      tags:
        - Rides
      summary: Complete a ride
      parameters:
        - name: rideId
          in: path
          required: true
          schema:
            type: string
            example: ride_987654321
      responses:
        '200':
          description: Ride completed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompleteRideResponse'

  /drivers/availability:
    patch:
      tags:
        - Drivers
      summary: Update driver availability
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AvailabilityRequest'
      responses:
        '200':
          description: Availability updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AvailabilityResponse'

  /rides/{rideId}/accept:
    post:
      tags:
        - Drivers
      summary: Accept a ride request
      parameters:
        - name: rideId
          in: path
          required: true
          schema:
            type: string
            example: ride_987654321
      responses:
        '200':
          description: Ride accepted successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AcceptRideResponse'

  /rides/{rideId}/location:
    patch:
      tags:
        - Drivers
      summary: Update driver location during ride
      parameters:
        - name: rideId
          in: path
          required: true
          schema:
            type: string
            example: ride_987654321
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LocationUpdate'
      responses:
        '200':
          description: Location updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocationUpdateResponse'

  /rides/{rideId}/track:
    get:
      tags:
        - Tracking
      summary: Get real-time ride tracking
      parameters:
        - name: rideId
          in: path
          required: true
          schema:
            type: string
            example: ride_987654321
      responses:
        '200':
          description: Tracking information retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrackingInfo'

  /payments:
    post:
      tags:
        - Payments
      summary: Process payment for ride
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentRequest'
      responses:
        '200':
          description: Payment processed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentResponse'

components:
  schemas:
    RegisterRequest:
      type: object
      required:
        - email
        - password
        - firstName
        - lastName
        - phoneNumber
        - userType
      properties:
        email:
          type: string
          format: email
          example: user@example.com
        password:
          type: string
          minLength: 8
          example: securepassword123
        firstName:
          type: string
          example: John
        lastName:
          type: string
          example: Doe
        phoneNumber:
          type: string
          example: "+1234567890"
        userType:
          type: string
          enum: [passenger, driver]
          example: passenger

    LoginRequest:
      type: object
      required:
        - email
        - password
      properties:
        email:
          type: string
          format: email
          example: user@example.com
        password:
          type: string
          example: securepassword123

    RefreshRequest:
      type: object
      required:
        - refreshToken
      properties:
        refreshToken:
          type: string
          example: eyJhbGciOiJIUzI1NiIs...

    AuthResponse:
      type: object
      properties:
        message:
          type: string
          example: Login successful
        user:
          $ref: '#/components/schemas/User'
        accessToken:
          type: string
          example: eyJhbGciOiJIUzI1NiIs...
        refreshToken:
          type: string
          example: eyJhbGciOiJIUzI1NiIs...
        expiresIn:
          type: integer
          example: 3600

    TokenResponse:
      type: object
      properties:
        accessToken:
          type: string
          example: eyJhbGciOiJIUzI1NiIs...
        expiresIn:
          type: integer
          example: 3600

    User:
      type: object
      properties:
        id:
          type: string
          example: usr_123456789
        email:
          type: string
          format: email
          example: user@example.com
        firstName:
          type: string
          example: John
        lastName:
          type: string
          example: Doe
        phoneNumber:
          type: string
          example: "+1234567890"
        userType:
          type: string
          enum: [passenger, driver]
          example: passenger
        rating:
          type: number
          format: float
          example: 4.8
        ridesCompleted:
          type: integer
          example: 25
        isVerified:
          type: boolean
          example: true
        createdAt:
          type: string
          format: date-time
          example: 2024-01-15T10:30:00Z

    Location:
      type: object
      required:
        - lat
        - lng
      properties:
        lat:
          type: number
          format: double
          example: 40.7128
        lng:
          type: number
          format: double
          example: -74.0060
        address:
          type: string
          example: "123 Main St, New York, NY"

    RideRequest:
      type: object
      required:
        - pickupLocation
        - dropoffLocation
        - rideType
      properties:
        pickupLocation:
          $ref: '#/components/schemas/Location'
        dropoffLocation:
          $ref: '#/components/schemas/Location'
        rideType:
          type: string
          enum: [standard, premium, shared]
          example: standard
        scheduledTime:
          type: string
          format: date-time
          nullable: true
          example: null
        notes:
          type: string
          example: "Please call when you arrive"

    Vehicle:
      type: object
      properties:
        make:
          type: string
          example: Toyota
        model:
          type: string
          example: Camry
        year:
          type: integer
          example: 2022
        color:
          type: string
          example: Silver
        licensePlate:
          type: string
          example: ABC123

    Driver:
      type: object
      properties:
        id:
          type: string
          example: drv_555666777
        firstName:
          type: string
          example: Mike
        lastName:
          type: string
          example: Johnson
        phoneNumber:
          type: string
          example: "+1987654321"
        rating:
          type: number
          format: float
          example: 4.9
        vehicle:
          $ref: '#/components/schemas/Vehicle'

    Ride:
      type: object
      properties:
        id:
          type: string
          example: ride_987654321
        status:
          type: string
          enum: [requested, driver_assigned, driver_arriving, arrived, in_progress, completed, cancelled]
          example: requested
        passengerId:
          type: string
          example: usr_123456789
        pickupLocation:
          $ref: '#/components/schemas/Location'
        dropoffLocation:
          $ref: '#/components/schemas/Location'
        rideType:
          type: string
          example: standard
        estimatedFare:
          type: number
          format: float
          example: 15.50
        estimatedDuration:
          type: integer
          example: 1200
        estimatedDistance:
          type: number
          format: float
          example: 5.2
        requestedAt:
          type: string
          format: date-time
          example: 2024-01-15T10:30:00Z
        notes:
          type: string
          example: "Please call when you arrive"

    RideDetails:
      allOf:
        - $ref: '#/components/schemas/Ride'
        - type: object
          properties:
            driverId:
              type: string
              example: drv_555666777
            driver:
              $ref: '#/components/schemas/Driver'
            actualFare:
              type: number
              format: float
              example: 15.50
            currentLocation:
              type: object
              properties:
                lat:
                  type: number
                  format: double
                  example: 40.7300
                lng:
                  type: number
                  format: double
                  example: -74.0000
            acceptedAt:
              type: string
              format: date-time
              example: 2024-01-15T10:32:00Z
            arrivedAt:
              type: string
              format: date-time
              example: 2024-01-15T10:40:00Z
            startedAt:
              type: string
              format: date-time
              example: 2024-01-15T10:42:00Z
            estimatedArrival:
              type: string
              format: date-time
              example: 2024-01-15T11:02:00Z

    CancelRideRequest:
      type: object
      required:
        - reason
      properties:
        reason:
          type: string
          example: "Change of plans"

    CancelRideResponse:
      type: object
      properties:
        message:
          type: string
          example: "Ride cancelled successfully"
        id:
          type: string
          example: ride_987654321
        status:
          type: string
          example: cancelled
        cancelledAt:
          type: string
          format: date-time
          example: 2024-01-15T10:35:00Z
        cancellationFee:
          type: number
          format: float
          example: 0

    CompleteRideResponse:
      type: object
      properties:
        id:
          type: string
          example: ride_987654321
        status:
          type: string
          example: completed
        finalFare:
          type: number
          format: float
          example: 15.50
        distance:
          type: number
          format: float
          example: 5.2
        duration:
          type: integer
          example: 1200
        completedAt:
          type: string
          format: date-time
          example: 2024-01-15T11:02:00Z

    AvailabilityRequest:
      type: object
      required:
        - isAvailable
        - currentLocation
      properties:
        isAvailable:
          type: boolean
          example: true
        currentLocation:
          type: object
          required:
            - lat
            - lng
          properties:
            lat:
              type: number
              format: double
              example: 40.7128
            lng:
              type: number
              format: double
              example: -74.0060

    AvailabilityResponse:
      type: object
      properties:
        message:
          type: string
          example: "Availability updated"
        driverId:
          type: string
          example: drv_555666777
        isAvailable:
          type: boolean
          example: true
        currentLocation:
          type: object
          properties:
            lat:
              type: number
              format: double
              example: 40.7128
            lng:
              type: number
              format: double
              example: -74.0060
        updatedAt:
          type: string
          format: date-time
          example: 2024-01-15T10:30:00Z

    AcceptRideResponse:
      type: object
      properties:
        message:
          type: string
          example: "Ride accepted"
        rideId:
          type: string
          example: ride_987654321
        estimatedArrival:
          type: string
          format: date-time
          example: 2024-01-15T10:40:00Z

    LocationUpdate:
      type: object
      required:
        - lat
        - lng
      properties:
        lat:
          type: number
          format: double
          example: 40.7300
        lng:
          type: number
          format: double
          example: -74.0000
        heading:
          type: number
          format: float
          example: 45

    LocationUpdateResponse:
      type: object
      properties:
        message:
          type: string
          example: "Location updated"
        rideId:
          type: string
          example: ride_987654321
        location:
          type: object
          properties:
            lat:
              type: number
              format: double
              example: 40.7300
            lng:
              type: number
              format: double
              example: -74.0000
            heading:
              type: number
              format: float
              example: 45
        updatedAt:
          type: string
          format: date-time
          example: 2024-01-15T10:45:00Z

    TrackingInfo:
      type: object
      properties:
        rideId:
          type: string
          example: ride_987654321
        status:
          type: string
          example: in_progress
        driverLocation:
          type: object
          properties:
            lat:
              type: number
              format: double
              example: 40.7300
            lng:
              type: number
              format: double
              example: -74.0000
            heading:
              type: number
              format: float
              example: 45
        estimatedArrival:
          type: string
          format: date-time
          example: 2024-01-15T11:02:00Z
        lastUpdated:
          type: string
          format: date-time
          example: 2024-01-15T10:45:00Z

    PaymentRequest:
      type: object
      required:
        - rideId
        - amount
        - paymentMethod
      properties:
        rideId:
          type: string
          example: ride_987654321
        amount:
          type: number
          format: float
          example: 15.50
        paymentMethod:
          type: string
          enum: [card, wallet, cash]
          example: card
        tip:
          type: number
          format: float
          example: 2.50

    PaymentResponse:
      type: object
      properties:
        paymentId:
          type: string
          example: pay_111222333
        rideId:
          type: string
          example: ride_987654321
        amount:
          type: number
          format: float
          example: 15.50
        tip:
          type: number
          format: float
          example: 2.50
        total:
          type: number
          format: float
          example: 18.00
        status:
          type: string
          example: completed
        processedAt:
          type: string
          format: date-time
          example: 2024-01-15T11:05:00Z

    Error:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: string
              example: INVALID_LOCATION
            message:
              type: string
              example: "The provided pickup location is invalid"
            details:
              type: string
              example: "Coordinates must be within service area"
            timestamp:
              type: string
              format: date-time
              example: 2024-01-15T10:30:00Z
            requestId:
              type: string
              example: req_123456789

  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  responses:
    UnauthorizedError:
      description: Access token is missing or invalid
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

    NotFoundError:
      description: The specified resource was not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

    ValidationError:
      description: Input validation error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'